input[type=checkbox] {
  transform: scale(1.5);
  margin: auto;

}

body {
  padding-top: 70px;
}

#top_body {
  padding-top: 70px;
  background-color: #fff;
}

.bird-icon {
  fill: #ffc107
}

.bird-icon-size {
  width: 150px;
  height: 150px;
}

.bird-icon-center {
  text-align: center;
  margin: 50px auto;
}

header {
  font-family: 'Raleway', sans-serif;
  background-color: #ffb6c1;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.top-p, .thanks-p {
  text-align: left;
  font-size: 18px;
  font-family: 'arial narrow';
  margin: 20px;
}

input.form-narrow {
  width: 60px;
}

.table-center {
  text-align: center;
}

.table-emphasis {
  font-size: 24px;
  font-weight: bold;
}

.container .justify-content-lg-center .col .btn-vertical-margin {
  margin: 10px auto 10px;
}

.card .card-header .mb-0 .btn {
  text-align: left;
}
