input[type=checkbox] {
  transform: scale(1.5);
  margin: auto;

}

body {
  padding-top: 70px;
}

#top_body {
  padding-top: 70px;
  background-color: #fff;
}

header {
  font-family: 'Raleway', sans-serif;
  background-color: #ffb6c1;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.icon-color{
  color: #ffc107
}

.top-p {
  text-align: left;
  font-size: 18px;
  font-family: 'arial narrow';
  margin: 20px;
}

.icon {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-size: 150px;
}

input.form-narrow {
  width: 60px;
}

.table-center {
  text-align: center;
}

.table-emphasis {
  font-size: 24px;
  font-weight: bold;
}

.btn-vertical-margin {
  margin: 10px auto 10px;
}
