{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>全学年共通科目</h1>
  <h2>国際政策学部の必要単位数は22単位以上です。</h2>

  <form class="" action="/common/{{ department }}/{{ cource }}/{{ chinese }}" method="post">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">授業名</th>
          <th scope="col">単位数</th>
          <th scope="col">履修予定・済</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in subjects.items() %}
        <tr>
          <td><label for="{{ key }}">{{ value["name"] }}</label></td>
          <td>{{ value["credits"] }}</td>
          <td>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="{{ key }}" aria-label="..." name="{{ key }}">
            </div>
          </td>
        </tr>
        {% endfor %}

        <tr>
          <td><label for="10310010">自由科目(単位数を入力)</label></td>
          <td></td>
          <td><input class="form-control form-narrow" type="number" name="10310010_credits" value="0" required></td>
        </tr>

      </tbody>
    </table>

    <button type="submit" class="btn btn-info btn-lg btn-block">計算</button>

  </form>
</div>
{% endblock %}
