{% extends "layout.html" %}
{% block content %}
<div class="container">

  <h1>学科専門科目</h1>



  <form class="" action="/faculty/{{ department }}/{{ cource }}/{{ chinese }}/{{ common_sum }}" method="post">


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">授業名</th>
          <th scope="col" class="table-center">単位数</th>
          <th scope="col" class="table-center">履修予定・済</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in subjects.items() %}
        <tr>
          <td><label for="{{ key }}">{{ value["name"] }}</label></td>
          <td class="table-center">{{ value["credits"] }}</td>
          <td class="table-center">
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="{{ key }}" aria-label="..." name="{{ key }}">
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>


    </table>

    {% if department == 'gi' %}
    <h2>国コミュ基礎科目・展開科目</h2>
    {% else %}
    <h2>総政基礎科目・展開科目</h2>
    {% endif %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">授業名</th>
          <th scope="col" class="table-center">単位数</th>
          <th scope="col" class="table-center">履修予定・済</th>
        </tr>
      </thead>
      <tbody>

        {% for key, value in major_subjects.items() %}
        <tr>
          <td><label for="{{ key }}">{{ value["name"] }}</label></td>
          <td class="table-center">{{ value["credits"] }}</td>
          <td class="table-center">
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="{{ key }}" aria-label="..." name="{{ key }}">
            </div>
          </td>
        </tr>
        {% endfor %}

        <tr>
          <td><label for="22530010">外国語自由科目(単位数を入力)</label></td>
          <td></td>
          <td class="table-center"><input class="form-control form-narrow" type="number" name="22530010_credits" value="0" required></td>
        </tr>

        <tr>
          <td><label for="22610010">自由科目(単位数を入力)</label></td>
          <td></td>
          <td class="table-center"><input class="form-control form-narrow" type="number" name="22610010_credits" value="0" required></td>
        </tr>

      </tbody>

    </table>
    <button type="submit" class="btn btn-info btn-lg btn-block">計算</button>

  </form>

</div>

{% endblock %}
