{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col col-lg-8">

      <h1>学科・コース情報を入力してください</h1>

      <form class="" action="form" method="post">

        <div class="form-group">
          <label>1.学科を選択</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="department" id="gi" value="gi" onclick="disableUnselectableOption();" required>
            <label class="form-check-label" for="gi">
              国際コミュニケーション学科
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="department" id="gp" value="gp" onclick="disableUnselectableOption();">
            <label class="form-check-label" for="gp">
              総合政策学科
            </label>
          </div>
        </div>

        <div class="form-group">
          <label>2.コースを選択</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="cource" id="ic" value="ic" required>
            <label class="form-check-label" for="ic">
              IC（国際コミュニケーションコース）
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="cource" id="rm" value="rm">
            <label class="form-check-label" for="rm">
              RM（地域マネジメントコース）
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="cource" id="bt" value="bt">
            <label class="form-check-label" for="bt">
              BT（国際観光・ビジネスコース）
            </label>
          </div>
        </div>

        <div class="form-group">
          <label>3.中国語を選択していますか？(中国語Ⅰa,Ⅱb以外)</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="chinese" id="yes" value="yes" required>
            <label class="form-check-label" for="yes">
              はい
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="chinese" id="no" value="no">
            <label class="form-check-label" for="no">
              いいえ
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-info btn-lg btn-block btn-vertical-margin">次へ</button>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
  function disableUnselectableOption() {
    gi = document.getElementById("gi");
    gp = document.getElementById("gp");
    rm = document.getElementById("rm");
    ic = document.getElementById("ic");
    if (gi.checked) {
      rm.setAttribute("disabled", "disabled");
      ic.removeAttribute("disabled");
    }
    if (gp.checked) {
      ic.setAttribute("disabled", "disabled");
      rm.removeAttribute("disabled");
    }
    window.onload = disableUnselectableOption;
  }
</script>

{% endblock %}
