{% extends "layout.html" %}
{% block content %}

<body id="thanks_body">

  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-9">
        <i class="icon fab fa-earlybirds icon-color"></i>
        <p class="thanks-p">このシステムを最後まで使ってくださりありがとうございました！</p>
        <p class="thanks-p">卒業研究のためのアンケートにどうかご協力をお願いします。</p>
        <button onclick="location.href='https://forms.gle/gBpsmMvWb53trtVS7'" class="btn btn-info btn-lg btn-block btn-vertical-margin">アンケートはこちら</button>

      </div>
    </div>
  </div>
</body>
{% endblock %}
